.center {
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}

.margin-auto {
  margin: auto;
}

.grey-txt {
  color: #566573;
  font-weight: lighter;
  size: 12px;
}

.box {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 150px;
}

.box:hover {
  transform: translate3d(0px, -2px, 0px);
}

.card-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.card-btn:hover {
  transform: translate3d(0px, -2px, 0px);
}
