<app-common-homenavbar></app-common-homenavbar>

<body>
  <div class="container-fluid land-container">

    <div class="row brand-row">

      <div class="col-md-12 margin-auto">
        <h1 class="title" style="font-weight: bold ;font-size: 80px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color: #fff">
          TooYummy Pizzas
        </h1>
        <br>
        <h3 class="tagline" style="color: #fff; font-weight:lighter">Celebrating the Art of Pizza</h3>
        <br>
      </div>
    </div>

  </div>

  <div class="container-fluid land-container">
    <div class="row brand-row">

      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto">
          <img src="../../../../assets/images/giphy1.gif" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title">Delicious Pizzas</h5>
            <p class="card-text">What’s better than having a crispy melty pizza, you ask?

                Having that crispy and melty pizza in the comfort of your own home with the ones you love, we say. </p>
          </div>
        </div>

      </div>


      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto" >
          <img width="96px" height="96px" src="../../../../assets/images/chef-4.png" class="card-img-top logo margin-auto"  alt="Veg">
          <div class="card-body">
            <h5 class="card-title"> Baked with love</h5>
            <p class="card-text">Food will be cooked by expert chefs.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto">
          <img src="../../../../assets/images/delivery-boy-3.gif" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title"> Always on time</h5>
            <p class="card-text">From tasty varieties of Pizzas offered, we provide customer eat-as-you-own experience.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

<app-common-footer id="contacthref"></app-common-footer>
