<div class="container-fluid">

  <br>

  <div class="row center">

    <div class="col-md-4 center">
      <button routerLink="/owner/addmenu" class="margin-auto btn btn-outline-success main-btn">
        ADD PIZZA
      </button>
    </div>

    <br>

    <!-- <div class="col-md-4 center">
      <button routerLink="/owner/dailymenu" class="margin-auto btn btn-outline-success main-btn">
        ADD DAILY MENU
      </button>
    </div> -->

    <br>

    <div class="col-md-6 center">
      <button routerLink="/owner/deletemenu" class="margin-auto btn btn-outline-danger main-btn">
        DELETE MENU
      </button>
    </div>

  </div>

  <br>
  <br>
  <br>

  <div class="row center">

    <div class="col-md-4 center">
      <button routerLink="/owner/orders" class="margin-auto btn btn-outline-warning main-btn">
        ORDERS
      </button>
    </div>

    <br>

    <div class="col-md-4 center">
      <button routerLink="/owner/customers" class="margin-auto btn btn-outline-secondary main-btn">
        CUSTOMERS LIST
      </button>
    </div>

    <br>

    <div class="col-md-4 center">
      <button routerLink="/owner/addadmin" class="margin-auto btn btn-outline-info main-btn">
        ADD ADMIN
      </button>
    </div>

  </div>

</div>
