.nav-item-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-logo {
  margin-left: 108px;
}

.navbar-fixed {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.textcolor{
  color:rgba(216, 54, 33, 0.966);
}

.textcolor:hover {
  color: #FFC300 ;
}

.margin-auto {
  margin: auto;
}

.margin-5 {
  margin: 10px;
}
