<!-- NAVBAR-->
<nav style="background-color: #000" class="navbar navbar-expand-lg navbar-dark shadow-sm navbar-fixed">
  <div class="container-fluid">

    <div style="text-align: left;">
      <a href="#" class="navbar-brand navbar-logo margin-auto">
        <!-- Logo Image -->
        <img routerLink="customer/menu" src="../../../../assets/images/11162-food.gif" width="48px" alt=""
          class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        <span class="text-uppercase font-weight-bold">TooYummy Pizzas</span>
      </a>
    </div>

    <ul class="nav justify-content-end custom-navbar-padding topnav">
      <li class="nav-item nav-item-padding">
        <a class="nav-link active textcolor" href="#">Home</a>
      </li>

      <li class="nav-item nav-item-padding">
          <a class="nav-link textcolor tab-text" routerLink="/user/signup">Sign Up Here</a>
        </li>
      <li class="nav-item nav-item-padding">
        <a class="nav-link textcolor  tab-text" routerLink="/user/signin">Login</a>
      </li>
    </ul>


  </div>
</nav>
