<form method="post" #myForm2="ngForm" >
  <div>

    <div class="container-fluid">
      <div class="row">

        <!-- 1 -->
        <div class="col-md-6">
          <div class="card-body" style="margin: 32px;">
            <h2 class="card-title" style="margin: 8px; text-align: center;">All type Orders</h2>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">OrderId</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Price</th>
                  <th scope="col">UserId</th>
                  <th scope="col">UserName</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of tempAllCartList">
                  <td>{{order.cartItemsId}}</td>
                  <td>{{order.menuId}}</td>
                  <td>{{order.cartItemsMenuName}}</td>
                  <td>{{order.cartItemsPrice}}</td>
                  <td>{{order.cartItemsQuantity}}</td>
                  <td>{{order.cartItemsTotalPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 2 -->
        <div class="col-md-6">
          <div class="card-body" style="margin: 32px;">
            <h2 class="card-title" style="margin: 8px; text-align: center;">Big Pizza Type Orders</h2>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">OrderId</th>
                  <th scope="col">Date</th>
                  <th scope="col">Type</th>
                  <th scope="col">Price</th>
                  <th scope="col">UserId</th>
                  <th scope="col">UserName</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of tempAllCartList">
                  <td>{{order.cartId}}</td>
                  <td>{{order.cartDate}}</td>
                  <td>{{order.orderType}}</td>
                  <td>{{order.cartPrice}}</td>
                  <td>{{order.user.userId}}</td>
                  <td>{{order.user.userName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-body" style="margin: 32px;">
              <h2 class="card-title" style="margin: 8px; text-align: center;">Medium Pizza Type Orders</h2>
              <br>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">UserId</th>
                    <th scope="col">UserName</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of tempAllCartList">
                    <td>{{order.cartItemsId}}</td>
                    <td>{{order.menuId}}</td>
                    <td>{{order.cartItemsMenuName}}</td>
                    <td>{{order.cartItemsPrice}}</td>
                    <td>{{order.cartItemsQuantity}}</td>
                    <td>{{order.cartItemsTotalPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
              <div class="card-body" style="margin: 32px;">
                <h2 class="card-title" style="margin: 8px; text-align: center;">Regular Pizza Type Orders</h2>
                <br>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">OrderId</th>
                      <th scope="col">Date</th>
                      <th scope="col">Type</th>
                      <th scope="col">Price</th>
                      <th scope="col">UserId</th>
                      <th scope="col">UserName</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of tempAllCartList">
                      <td>{{order.cartItemsId}}</td>
                      <td>{{order.menuId}}</td>
                      <td>{{order.cartItemsMenuName}}</td>
                      <td>{{order.cartItemsPrice}}</td>
                      <td>{{order.cartItemsQuantity}}</td>
                      <td>{{order.cartItemsTotalPrice}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

      </div>
    </div>
  </div>
</form>
