<div class="container-fluid land-container">
  <div class="row footer-row">

      <div class="col-md-4 margin-auto">

        <h1 style="text-align: center; color: rgb(68, 245, 32) ;">Contact Us</h1>
          <a style="color: #F2F3F4;" href="tel:+82376 51667=">Contact Number : 82376 51667</a>
          <br>
          <a style="color: #F2F3F4;" href="mailto:tooyummypizzas@gmail.com">Email : tooyummypizzas@gmail.com</a>
        </div>

    <div class="col-md-4 margin-auto">

      <h1 style="text-align: center; color: rgb(108, 255, 40) ;">Address</h1>
      <a style="color: rgb(175, 193, 211) ;" href="http://tiny.cc/9sfuiz">Blue Ridge Town Pune
        Phase 1, Hinjewadi Rajiv Gandhi Infotech Park, Hinjawadi, Pimpri-Chinchwad, Maharashtra 411057</a>
      <br>

    </div>

    <div class="col-md-4 margin-auto">
        <h1 style="text-align: center; color: rgb(108, 255, 40) ;">Social Links</h1>

            <a href="https://www.facebook.com"><img alt="facebook" src="../../../../assets/images/facebook.png"></a>
            &nbsp; &nbsp;
            <a href="https://www.instagram.com"><img alt="instagram" src="../../../../assets/images/instagram.png"></a>
            &nbsp; &nbsp;
            <a href="https://www.twitter.com"><img alt="twitter" src="../../../../assets/images/twitter.png"></a>

    </div>

    </div>

  </div>
