<form method="post" #myForm2="ngForm" >
  <div>
    <div class="container">
      <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">
          <div class="card-body" style="margin: 32px;">
            <h2 class="card-title" style="margin: 8px; text-align: center;">Delete Menu</h2>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let menu of allMenuList">
                  <td>{{menu.menuId}}</td>
                  <td>{{menu.menuName}}</td>
                  <td>{{menu.menuPrice}}</td>
                  <td>
                    <img (click)='callForDeleteMenu(menu)' src="../../../../assets/images/circle-minus.png">
                  </td>
                </tr>
              </tbody>
            </table>



            <div class="col-md-1"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
