  <head>
      <meta http-equiv="refresh" content="5 ; /customer/menu">
  </head>

<div class="container">
  <div class="row center">
    <div class="col-md-2"></div>

    <div style="margin-top: 200px" class="col-md-8 margin-auto">

      <div style="background-color: gold">World's best Chef are preparing Your Pizzas</div>
        <div class="modal-body margin-auto">
            <img src="../../../../assets/images/food-preparing.gif" style="width: 96px; height: 96px;">
          </div>



      <div class="margin-auto">
        <div style="background-color:lime;">
          <h4 style="color: #fff;" class="modal-title margin-auto">Thanks for Ordering with us... You will be soon eating... </h4>
        </div>


        <div class="margin-auto">
          <p>Redirecting to Menu page</p>
        </div>
      </div>

    </div>

    <div class="col-md-2"></div>
  </div>
</div>









